.div-principal{
    display: flex;
    flex-direction: row;

    background-color: #4f4343;
}
.playlist{
    border: solid 1px rgb(255, 255, 255);
    background-color: #121212;
    display: flex;

    align-items: flex-start;
    flex-direction: column;
    height: auto;
    width: 10cm;
}
.titulo{
    color: aliceblue;
    
}
.artista{
    color: aliceblue;
}
.album{
    color: aliceblue;
}


img{
    height: 100px;
}